<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STACK OVERFLOW TAG PREDICTION</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>

    <h3 class="text-center" style="padding:15px">STACK OVERFLOW TAG PREDICTION</h3>

    <div class="row">
        <div class="col-md-8" style="text-align:center;margin: 0 auto;">
            <form method="POST">
                <input type="text" class="form-control" placeholder="Enter Password" name="password" value="{{ request.form.password }}" required>
                <div class="button-group" style="margin-top:15px;">
                    <button type="submit" name="submit" class="btn btn-primary">Check</button>
                </div>
            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8" style="margin: 0 auto; margin-top:25px;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Algorithm</th>
                        <th scope="col">Tags</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Logistic Regression</td>
                        <td>{{ LogReg }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>